#btn2{
   width:400px;
    border-radius: 25px;
    background-image: linear-gradient( #1A5276, #1A5276);
    color:#fff;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 7em;
    margin-top: 8em;
    color: white;
    outline: none;
    border:none;
}
#btn3{
    width:410px;
    border-radius: 25px;
    background-image: linear-gradient( #1A5276, #1A5276);
    color:#fff;
    font-weight: 700;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 2em;
    
    color: white;
    outline: none;
    border:none;
}
.ter{
  margin-top: -13.7em;
}
.choice{
  background-image: url("https://wallpaperaccess.com/full/656665.jpg");
  background-size: cover;
}
.bfrm{
  background-color: #D0D3D5;
  width: 45em;
  height: 10em;
  margin-left: 14em;
  margin-top: .5em;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 25px;
 font-style: italic


}
