.forms{
  background-color: #D0D3D5;
  width: 40em;
  height: 20em;
  margin-left: 14em;
  margin-top: 2em;
  padding-top: 30px;
  border-radius: 25px;

 


}
#id{
  display: block;
  color: black;
  font-size: 1.4em;
  font-family: bold;
  margin-left: -8em;
  margin-bottom: 5px;
  transition: 0.4s;
  margin-top: 1.1em;
  font-family: verdana;
}
#emplName{
  display: block;
  color: black;
  font-size: 1.4em;
  font-family: bold;
  margin-left: -8em;
  margin-bottom: 5px;
  transition: 0.4s;
  margin-top: 1.1em;
  font-family: verdana;
}

 input{
    width:420px;
    padding:10px;
    padding-left:20px;
    border-radius: 25px;
    background-image: linear-gradient( #FDFEFE, #FDFEFE);
    color:black;
    border:none;
    outline: none;
    display: block;
    margin-left: 2em;
    margin-top: 1.1em;

 

}
button{
    width:400px;
    border-radius: 25px;
    background-image: linear-gradient( #1A5276, #1A5276);
    color:#fff;
    font-weight: 700;
    font-size: 2em;
    cursor: pointer;
    margin-top: .8em;
    color: white;
    outline: none;
    border:none;
}
.Del{
  text-align: center;
  margin-top: 3em;
  margin-left: 7em;
}
 