
table, td, th {
  border: 1px solid black;
  margin-top: 2em;
}

 

table {
  border-collapse: collapse;
  width: 100%;
}

 

td {
  text-align: center;
}
#title{
  margin-left: 16em;
}
.Top{
  background-color:#BEBEBE ;
  width: 180%;
}

.head{
  width: 180%;
}


