.header {
  
  display: flex;
  background-color: #e9ffdb;
  flex: 1;
  flex-direction: fill;
}

.header-top {
  display: flex;
  width: 100%;
  background-color: #e9ffdb;
  height: 80px;
}
.Reg{
  text-align: center;
  background: url("https://www.finra.org/sites/default/files/2021-01/iStock-868434080_860x406.jpg");
}
#id{
  margin-left: -23em;
}
#emplName{
  margin-left: -22em;
  margin-top: 23em;
}
#gen{
  margin-left: -24em;
}
#job{
  margin-left: -23em;
}
#subGroup{
  margin-left: -20em;
}
#timesheet{
  margin-left: -17.5em;
}
#supName{
  margin-left: -20em;
}
#team{
  margin-left: -22em;
}
#email{
  margin-left: -24em;
}
#Bloc{
  margin-left: -21.5em;
}
#area{
  margin-left: -21.5em;
}
#loc{
  margin-left: -23.5em;
}
#local{
  margin-left: -24em;
}
.forms{
  background-color: #D0D3D4;
  width: 31em;
  height: 58em;
  margin-left: 10em;
  padding-top: 15px;
  border-radius: 25px;
}
input{
    width:420px;
    padding:10px;
    padding-left:20px;
    border-radius: 25px;
    background-image: linear-gradient( #FDFEFE, #FDFEFE);
    color:black;
    border:none;
    outline: none;
    display: block;
    margin-left: 2em;
    margin-top: .5em;

}


#btn{
   width:375px;
    border-radius: 25px;
    background-image: linear-gradient( #1A5276, #1A5276);
    color:#fff;
    font-weight: 700;
    font-size: 2em;
    cursor: pointer;
    margin-left: -1em;
    margin-top: 1em;
    color: white;
    outline: none;
    border:none;
}

.header-top__navbar {
  display: flex;
  flex: 1;
background-color: #e9ffdb;
  flex-direction: column;
}


.header-top__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
background-color: #e9ffdb;
  margin-right: 55px;
}

