.home {
  text-align: center;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/20160809/pngtree-watermark-blue-background-photo-615800.jpg");
  background-size: cover;
  margin-left: -7em;
}

.hfrm{
  background-color: #D0D3D5;
  width: 60em;
  height: 15em;
  margin-left: 14em;
  margin-top: 2em;
  padding-top: 30px;
  border-radius: 25px;
 font-style: italic


}