table, td, th {
  border: 1px solid black;
}

 

table {
  border-collapse: collapse;
  width: 100%;
}


td {
  text-align: fill;
}


.al{
 
 margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 500px;
}
.single{
 background-color:#BEBEBE; 
 width:130%;
}
#users{
  width: 100%;
  font-size: 1.1em;
}






